// Fonts
@font-face {
    font-family: "Thicccboi";
    src: url("../assets/fonts/TTF/THICCCBOI-Medium.ttf");
    font-style: normal;
    font-weight: 500
}

@font-face {
    font-family: "Thicccboi";
    src: url("../assets/fonts/TTF/THICCCBOI-SemiBold.ttf");
    font-style: normal;
    font-weight: 600
}

@font-face {
    font-family: "Thicccboi";
    src: url("../assets/fonts/TTF/THICCCBOI-Bold.ttf");
    font-style: normal;
    font-weight: 700
}

// abstract
@import './abstract/variable';
@import './abstract/mixins';
// base
@import './base/base';
@import './base/typography';
// utils
@import './utils/utils';
@import './utils/components';
// home
@import './home/home';
// project-detail
// resume
// contact

@import './nav';