// Fonts
@font-face {
    font-family: "Thicccboi";
    src: url("../assets/fonts/THICCCBOI-Medium.woff2");
    font-style: normal;
    font-weight: 500
}

@font-face {
    font-family: "Thicccboi";
    src: url("../assets/fonts/THICCCBOI-SemiBold.woff2");
    font-style: normal;
    font-weight: 600
}

@font-face {
    font-family: "Thicccboi";
    src: url("../assets/fonts/THICCCBOI-Bold.woff2");
    font-style: normal;
    font-weight: 700
}

// abstract
@import './abstract/variable';
@import './abstract/mixins';
// base
@import './base/base';
@import './base/typography';
// utils
@import './utils/utils';
@import './utils/components';
// nav
@import './nav';
// home
@import './home/home';
// about me
@import './aboutme/aboutme';
// project-detail
// contact
@import './contact/contact';