.app-cursor {
    // z-index: 10000;
    // border-radius: 50%;
    // width: 8rem;
    // height: 8rem;
    // border: 1px solid $cw-heading;
    // pointer-events: none;
    // overflow: hidden;
    // transform: translate3d(0, 0, 0);
    // position: fixed;
    // transition: all .1s ease;

    z-index: 10000;

    position: fixed;
    pointer-events: none;
    width: 10px;
    height: 10px;
    background-color: #bdff00;
    border-radius: 100%;
}