.section-margin {
    margin-left: 2.4rem;
    margin-right: 2.4rem;

    @include respond(480) {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }
}

.section-padding {
    padding-top: 16rem;
    padding-bottom: 16rem;

    @include respond(768) {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    @include respond(480) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}

.border-bottom {
    border-bottom: 1px solid $color-line;
}