.section-margin {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}

.section-padding {
    padding-top: 16rem;
    padding-bottom: 16rem;
}

.border-bottom {
    border-bottom: 1px solid $color-line;
}