.contact-section {
    p {
        font-size: 2.2rem;
        color: $color-white;
        font-weight: 500;
        line-height: 3.6rem;

        @include respond(768) {
            font-size: 1.8rem;
            line-height: 3rem;
        }
    }

    display: flex;

    @include respond(768) {
        flex-direction: column;
    }

    div {
        &:nth-child(1) {
            width: 60%;

            h2 {
                margin-bottom: 2.4rem;

                span {
                    border-bottom: .5rem solid $color-white;
                    padding-bottom: .4rem;
                }
            }
        }

        &:nth-child(2) {
            width: 40%;

            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }


        @include respond(992) {
            &:nth-child(1) {
                width: 70%;
            }

            &:nth-child(2) {
                width: 30%;
            }
        }

        @include respond(768) {
            &:nth-child(1) {
                width: 80%;
            }

            &:nth-child(2) {
                width: 100%;
                padding-top: 5rem;
                justify-content: flex-start;
            }
        }

        @include respond(480) {
            &:nth-child(1) {
                width: 100%;
            }

            &:nth-child(2) {
                width: 100%;
            }
        }
    }
}