.header {
    h1 {
        padding-bottom: 2.4rem;

        @include respond(992) {
            padding-bottom: 0rem;
        }
    }

    p {
        padding-bottom: 3.2rem;
    }

    .link-arrow {
        display: flex;
        height: 2.1rem;
        width: 18rem;
        position: relative;

        svg {
            transform: rotate(-45deg) translateX(0px) translateY(0px);
            margin-left: .3rem;
            color: $color-heading;
            transition: all .75s ease-out;
        }

        &:focus {
            .link-arrow__text {
                color: $color-regular;
            }

            svg {
                color: $color-regular;
                transform: rotate(-45deg) translateX(7px) translateY(0px);
                transition: all .75s ease-out;
            }

            &::after {
                opacity: 1;
                width: 100%;
                transition: all .75s ease-out;
            }
        }

        &::after {
            content: '';
            height: .2rem;
            width: 0%;
            opacity: 0;
            bottom: -60%;
            left: 0;
            background-color: $color-heading;
            position: absolute;
            transition: all .75s ease-out;
        }
    }
}