.projects-heading {
    text-align: center;
    margin-bottom: 5.6rem;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 7.2rem;
    column-gap: 4rem;

    @include respond(768) {
        grid-template-columns: 1fr;
        column-gap: 0;
    }

    a {

        &:hover,
        &:focus {

            .project-title {
                color: $color-regular;
            }

            img {
                transform: scale(1.05);
            }
        }
    }
}

.project {

    &__img {
        width: 55.2rem;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .25s ease-in-out;
        }

        @include respond(992) {
            width: 40.6rem;
        }

        @include respond(768) {
            width: 100%;
        }
    }


    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .project-title {
            transition: all .25s ease-in-out;
        }

        .project-info {
            color: $color-regular;
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            margin-top: 2.2rem;

            .project-name,
            .project-topic {
                font-weight: 500;
                transition: all .25s ease-in-out;
            }

            &__line {
                height: 1px;
                width: 2.5rem;
                margin: 0 2.2rem;
                background-color: $color-regular;
            }
        }
    }
}