.skills-section {
    h2 {
        padding-bottom: 5.6rem;
    }

    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4rem;

        @include respond(992) {
            grid-template-columns: 1fr 1fr;

            .box {
                &:nth-child(3) {
                    grid-column: 1 / -1;
                    display: flex;
                    column-gap: 4rem;
                    border-top: 0;

                    h3 {
                        flex: 1;
                    }
                }
            }
        }

        .box {
            border-top: 1px solid $color-line;

            .sub-heading {
                padding: 4rem 0 4rem;
                border-bottom: 1px solid $color-line;
            }
        }

    }
}