* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    font-size: 62.5%;
}

body {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3rem;
    color: $color-regular;
    background-color: $color-white;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

li {
    list-style: none;
}

.App {
    font-family: $ff-main;
}

.main-container {
    width: 100%;

    &--black {
        background-color: $color-heading;
    }
}

.container {
    max-width: 1216px;
    margin: 0 auto;
}