// logo text
.logo-text {
    font-family: $ff-main;
    font-weight: 500;
    font-size: 2.8rem;
    color: $color-heading;
    cursor: pointer;
}

.heading-1 {
    font-weight: 500;
    font-size: 6rem;
    line-height: 7rem;
    color: $color-heading;

    @include respond(768) {
        font-size: 4.2rem;
        line-height: 5.2rem;
    }
}

.heading-2 {
    color: $color-heading;
    font-size: 4.8rem;
    line-height: 6.4rem;
    font-weight: 500;

    &--white {
        color: $color-white;
    }

    @include respond(768) {
        font-size: 4.2rem;
        line-height: 5.2rem;
    }

    @include respond(480) {
        font-size: 3.2rem;
        line-height: 4.2rem;
    }
}

.sub-heading {
    color: $color-heading;
    font-size: 2.6rem;
    line-height: 3.6rem;
    font-weight: 600;

    @include respond(768) {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    @include respond(480) {
        font-size: 2.1rem;
    }
}

.link-arrow {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: $color-heading;

    @include respond(992) {
        font-size: 2rem;
        line-height: 2.2rem;
    }
}

.link-nav {
    font-size: 1.8rem;
    line-height: 2rem;
    color: $color-heading;
    font-weight: 500;

    @include respond(992) {
        &--white {
            font-size: 3.2rem;
            line-height: 3.4rem;
            color: $color-white;
        }
    }

    @include respond(480) {
        &--white {
            font-size: 2.4rem;
            line-height: 2.6rem;
        }
    }
}